<%- include('partials/header.ejs') %>
<body>
  <br><br>
      <div id="card">
      <h2>Pacific Analytics</h2>
      <div id="input-container">
        
  <form method="POST" action="/register">
<!--    <span id="name">Username</span> <br>  -->    
    <input type="text" id="indexUsername" name="username" placeholder="Username">
    <br><br>
<!--    <span id="name">Password</span> <br> -->
    <input type="password" id="indexPassword" name="password" placeholder="Password">
    <br><br>
    <button class="indexButtons"> Register </button>
    <br><br>
  </form>

  <% if (typeof message != "undefined"){ %>
  	<h3><%=message%></h3>
  <% } %>
    
</body>
</html>