<hr>
<form action="/logout">
    <button id="logout_">
      Logout
    </button>
  </form>

<hr> 
<footer>
    <br>
  
    <div>
    CST336 Internet Programming. 2022&copy; Pacific Analytics <br />
    <strong>Disclaimer:</strong> The information in this page is fictitious <br/>
    It is used for academic purposes only.
    </div>
     <br>
    <div>
      <img src="/img/csumb.png" alt="CSUMB logo" />
    </div>
  </footer>
